@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 40px;
	text-align: center;
	color: #05386B;
}

body{
	background: #5CDB95;
}

.quote-box{
	background: #fff;
	width: 700px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 20px 25px 20px 0px rgba(0, 0, 0, 0.15);
}

hr{
	background-color: #5CDB95;
	height: 5px;
	width: 30%;
	position: relative;
	left: 35%;
	margin-top: 5px;
	margin-bottom: 15px;
	border-radius: 30px;
}

blockquote{
	font-family: 'Edu TAS Beginner', cursive;
	padding-bottom: 10px;
}

#author{
	font-family: 'Edu TAS Beginner', cursive;
	position: relative;
	top: 50%;
	left: -30px;
	display: block;
	margin-top: 10px;
	float: right;
}


#buttons{
	display: block;
	position: relative;
}

button{
	margin-top: 40%;
	background: #05386B    ;
	color: #5CDB95 ;
	cursor: pointer;
	border-radius: 25px;
	padding: 15px 30px;
	font-size: 30px;
	transition: 200ms transform;
}
button:hover {
	transform: translateY(-2px);
}

@media (max-width: 1000px) {
	* {
		font-size: 25px;
	}
	.quote-box {
		width: 350px;
	}
	button {
		margin-top: 130%;
		font-style: 20px;
		padding: 10px 30px;
	}
}
